/**
 * Field Group
 */

.field-group,
%field-group {
    margin: spacing(xs) 0;

    .field-group {
        margin-top: spacing(xs);
        margin-bottom: spacing(xs);
    }
}


.field-group--inline,
%field-group--inline {
    display: inline-block;
    margin-bottom: 0;
}