
.header {}

.header__body {
    padding-top: spacing();
    padding-bottom: spacing();
    
    @include breakpoint(screen(md)) {
        @include flex;
        @include align-items(center);
        @include justify-content(space-between);
    }
}

.header__auxilliary {
    @include flex;
    @include align-items(center);
    @include justify-content(space-between);
    
    @include breakpoint(max-width screen(sm, max)) {
        > *:first-child {
            flex-grow: 1;
        }
        > *:last-child {
            flex-shrink: 0;
            margin-left: spacing(xs);
        }
    }
    
    @include breakpoint(screen(md)) {
        @include align-items(flex-end);
        @include flex-direction(column);
        > *:last-child {
            margin-top: spacing(sm);
        }
    }
    
    @include breakpoint(screen(lg)) {
        width: 30%;
        .single-form {
            width: 100%;
        }
    }
    
}