/**
 * Custom Select
 */

.select,
%select {
    padding: 0;
    padding-right: 2em;
    margin: 0;
    border: 1px solid color(neutral, dark);
    overflow: hidden;
    position: relative;
    background-color: color(neutral, white);
    border-radius: $border-radius;
    color: color(neutral, dark);
    &::after,
    &::before {
        position: absolute;
        right: 1em;
    }

    &::after {
        @include triangle(color(neutral, dark), 4px, 4px, down);
        top: 1.25em;
    }

    select {
        padding: 0.54em;
        width: 130%;
        max-width: none;
        border: none;
        box-shadow: none;
        background-color: transparent;
        position: relative;
        z-index: 1;
        -webkit-appearance: none;
           -moz-appearance: none;
                appearance: none;

        &:focus {
            outline: none;
        }
    }
    
    select::-ms-expand {
        display: none;
    }
}
